h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
fieldset {
  border-style: none;
}
label {
  margin: 0.5em;
}

.el-input input {
  text-align: center;
}
.el-menu-item > .router-link-active {
  text-decoration-line: none;
}
.el-menu-item > a {
  text-decoration-line: none;
}
.nav-right {
  float: right;
  margin: 0 2rem;
}
.menu-display {
  color: rgb(255, 255, 255);
  float: right;

  padding: 0 20px;
  display: inline-block;
  margin: 0 10px;
  position: relative;

  height: 60px;
  line-height: 60px;
  
  font-size: 14px;
  cursor: pointer;
}
.menu-display > span {
  margin-right: 10px;
}

h1.page-header {
  font-weight: bolder;
  margin: 1em 0;
}
.navbar-brand {
  font-size: xx-large;
}
.result {
  font-size: xx-large;
  font-weight: bold;
}
.result.description {
  font-size: x-large;
}
.result.resource {
  font-size: medium;
  margin: 1em;
}
.group-label {
  font-size: large; 
  font-weight: bold;
}
.calc-text {
  font-size: large;
  font-weight: bold;
}
.calc-result {
  font-size: x-large;
  font-weight: bolder;
}
