<template>
  <label class="group-label" :for="name">{{ title }}</label>
  <fieldset :id="name">
    <br />
    <div v-if="units === 'metric'">
      <el-input-number id="cm" v-model="cm" :min="0"></el-input-number>
      <label for="cm">cm</label>
    </div>
    <div v-if="units === 'imperial'">
      <el-input-number id="inches" v-model="inches" :min="0"></el-input-number>
      <label for="inches">in</label>
    </div>
  </fieldset>
</template>

<script>
import { cmToInches, inchesToCm } from "@/utils/conversions"

export default {
  name: "SizeCmInches",
  props: ["units", "name", "size"],
  emits: {
    "change-size"(payload) {
      return !!payload.size
    },
  },
  data() {
    return {
      cm: this.size,
    }
  },
  computed: {
    title() {
      return this.name
        .toLowerCase()
        .split(" ")
        .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
        .join(" ")
    },
    inches: {
      get: function () {
        return cmToInches(this.cm)
      },
      set: function (newInches) {
        this.cm = inchesToCm(newInches)
      },
    },
  },
  updated() {
    this.$emit("change-size", { size: this.cm })
  },
}
</script>

<style scoped>
</style>