<template>
  <div>
    <el-radio-group
      v-model="newValue"
      @change="$emit('set-new-value', { newValue })"
    >
      <template v-for="radioOption in radioOptions" :key="radioOption.label">
        <el-radio-button :label="radioOption.label">
          {{ radioOption.desc }}
        </el-radio-button>
      </template>
    </el-radio-group>
  </div>
</template>

<script lang="ts">
export default {
  name: "BaseRadio",
  props: ["value", "options"],
  emits: {
    "set-new-value"(payload) {
      return !!payload.newValue
    },
  },
  data() {
    return {
      newValue: this.value,
      radioOptions: this.options,
    }
  },
}
</script>